body {
  background: url("img/bg.jpg");
}

.App {
  text-align: center;
}

.App-logo {
  height: 150px;
}

.App-header {
  color: white;
  border: 1px solid red;
}

.App-title {
  font-size: 1.5em;
  color: #FFE81F;
}

.container {
  width: 50%;
  margin: 0 auto;
  background: white;
}