body {
  background: url("img/bg.jpg");
}

.App {
  text-align: center;
}

.App-logo {
  height: 150px;
}

.App-header {
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: #FFE81F;
}

.container {
  width: 50%;
  margin: 0 auto;
  background: white;
  border-radius: 20px;
  border: 2px solid #FFE81F;
}

.container h1 {
  padding: 1em 0 1em 0;
  margin: 0;
  background: #FFE81F;
  border-radius: 20px 20px 0px 0px;
  text-transform: uppercase;
}

.container h3, p {
  text-align: left;
}

.container button {
  width: 100%;
  padding: 20px;
  border: none;
  background: #000000;
  color: #FFE81F;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  border-radius: 0px 0px 20px 20px;
  cursor: pointer;
}

.planet-info {
  padding: 1em 2em 2em 2em;  
}
